$primary-color:  #333940;
$min-size: 768px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// create nav responsice with 3 menus items
body {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  'nav'
  'header'
  'main'
  'footer';

}

nav {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-area: "nav";

   @media (min-width: $min-size) {
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
  }

  logo {
    display: grid;
    grid-row: 1 / span 1;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    img {
      width: 100px;
    }
  }
  nav-links {
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 2%;

     @media (min-width: $min-size) {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      grid-template-columns: repeat(3, auto);
      justify-items: end;
      justify-content: space-around;
      padding: 0;
    }

    a {
      color: white;
    }
  }

}

header {
  display: grid;
  grid-template-areas: 'header';
}

main {
  display: grid;
  grid-template-areas: 'main';
  grid-template-rows: auto auto auto;
  titulo {
    align-items: center;
    text-align: center;
    font-family: "Sofia";
  }
  texto {
    align-items: center;
    text-align: center;
    padding: 2%;
  }
  pilares {
    display: grid;
    background-color: $primary-color;
    grid-template-rows: repeat(4, 1fr);

     @media (min-width: $min-size) {
      grid-template-rows: auto;
      grid-template-columns: repeat(4, 1fr);
    }

    pilar {
      text-align: center;
      img {
        width: 100px;
        padding: 2%;
      }
      p {
        color: white;
        padding: 2%;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-areas: 'footer';
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: white;
  a {
    color: white
  }
}

.invert-color {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

